.div20{
 text-align: center;
    background-color: #dddddd ;
}
.button{
    background-color: rosybrown;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
:root {
    width: 100%;
}

.newtraining{
    text-align: center;
    background-color: lightyellow;
}

 li {
     list-style-type: none;
    font-family: Arial, sans-serif;
     font-size: 16px;
     text-align: center;
 }
.time-label {
    font-size: 18px;
    font-weight: bold;

}
.select-time {
    height: 22px;
    font-size: 17px;
}

.time{
    font-size: 100px;
    color: red;
}

.addbutton{
    font-size: 18px;
}
.cancelbutton{
    font-size: 18px;
}

.training-container {
    background-color:antiquewhite;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.space-div{
    margin-bottom: 16px;
}

.list1{
    text-align: center;
    color:red;
    font-size: 18px;
}
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.login form {
    display: flex;
    flex-direction: column;
}

.login p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login input,
.login select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #0056b3;
}

.login a {
    text-decoration: none;
    color: #007bff;
}

.login a:hover {
    text-decoration: underline;
}

.training-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.training-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.training-table th,
.training-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.logout-button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.logout-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #2980b9;
}
.status-btn {
    cursor: pointer;
}

.fc-header-toolbar {
    background-color:-moz-mac-accentface;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


