.div20{
 text-align: center;
    background-color:tan ;
}
.button{
    background-color: #007bff ;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
:root {
    width: 100%;
}

.wetter{
    background-color: red ;
}

.newtraining{
    text-align: center;
    background-color: lightyellow;

}

 li {
     list-style-type: none;
    font-family: Arial, sans-serif;
     font-size: 16px;
     text-align: center;
 }
.time-label {
    font-size: 18px;
    font-weight: bold;

}
.select-time {
    height: 22px;
    font-size: 17px;
}

.time{
    font-size: 100px;
    color: red;
}

.addbutton{
    font-size: 18px;
}
.cancelbutton{
    font-size: 18px;
}

.training-container {
    background-color:antiquewhite;
    border: 1px solid black;
    padding: 10px; /* Optional: Füge Abstand zum Inhalt hinzu */
    margin-bottom: 10px; /* Optional: Füge Abstand zwischen den Trainings hinzu */
}

.space-div{
    margin-bottom: 16px;
}

.list1{
    text-align: center;
    color:red;
    font-size: 18px;
}



